<nav class="navbar navbar-dark bg-dark d-flex justify-content-around collapse">
    <!-- Navbar content -->
  
    <a id="brand" href="/">Campus Placement Support & Analysis</a>
  
    <div class="d-flex">
      <a class="nav-link btn" href="/myprofile" id="navlink">My Profile
      </a>
      <a class="nav-link btn" href="/resume" id="navlink">Resume</a>
      <a class="nav-link btn" href="view_drives" id="navlink">Placement Drive</a>
      <a class="nav-link btn" href="/companyresourceview" id="navlink">Company Resources</a>
      <a class="nav-link btn" href="https://rvce.edu.in" id="navlink">About</a>

      <a class="nav-link btn" href="/logout" id="navlink">Logout</a>
      
    
    </div>
  </nav>

