<nav class="navbar navbar-dark bg-dark d-flex justify-content-around collapse">
  <!-- Navbar content -->

  <a id="brand" href="/">Campus Placement Support & Analysis</a>

  <div class="d-flex">
    <a class="nav-link btn" href="/login" id="navlink">Login</a>
    <a class="nav-link btn" href="/signup" id="navlink">Register</a>
    <a class="nav-link btn" href="/pclogin" id="navlink">SPC Login</a>

  
  </div>
</nav>