<nav class="navbar navbar-dark bg-dark d-flex justify-content-around collapse">
  <!-- Navbar content -->

  <a id="brand" href="/">Campus Placement Support & Analysis</a>

  <div class="d-flex">
    <a class="nav-link btn" href="/view_drives_spc" id="navlink">Placement Drive
    </a>
    <a class="nav-link btn" href="/companyresourceviewspc" id="navlink">Company Resources</a>
    <a class="nav-link btn" href="#" id="navlink">Students</a>

    <a class="nav-link btn" href="/logout" id="navlink">Logout</a>


  </div>
</nav>