<!DOCTYPE html>
<html>

    <head>
        <title>Drive</title>
        <%- include("./partials/head.ejs") %>
    
    </head>
    
<%- include("./partials/nav_student.ejs") %>
<body>

    <h2>Welcome <%= user[0].fname %></h2>

    <div class="container">



    </div>




</body>
