<!DOCTYPE html>
<html>


<%- include("./partials/head.ejs") %>
    <%- include("./partials/nav_spc.ejs") %>

    <header style="background-color: #071236;
    height: 100px;
    padding: 10px;
    color: white;
    text-align: center;">
        <h1 class="centeritem">Create Placement Drive </h1>
    </header>

        <body style="background: #FF7477;">
            <br>
            <div class="container" style="border: 2px solid maroon; border-radius: 8px; background: #E69597;">
                <br>
                <form class="form" action="/drive_create" method="POST">
                    <label>Drive Alias : </label>
                    <input type="text" placeholder="Enter Drive Alias " name="d_id" class="form-control" required> <br>
                    <label>Drive Name : </label>
                    <input type="name" placeholder="Enter Drive Name" name="dname" class="form-control" required> <br>
                    <label>Company Email : </label>
                    <input type="email" placeholder="Enter Company Email" name="company_email" class="form-control"
                        required>
                    <br>
                    <label>Company Name : </label>
                    <input type="name" placeholder="Enter Company Name" name="company_name" class="form-control"
                        required> <br>
                    <label>Company ID : </label>
                    <input type="text" placeholder="Enter Company Unique Number" name="company_id" class="form-control"
                        required> <br>
                    <label>Type of Offer : </label><br>
                    <input type="radio" name="offer1" value="Full Time" required><label>Full Time Offer</label><br>
                    <input type="radio" name="offer1" value="Internship" required> <label>Internship</label><br>
                    <label> Date of Drive Creation: </label>
                    <input type="date" placeholder="MM/YYYY" name="drive_date" class="form-control" required> <br>
                    <button type="submit" class="btn btn-primary"> Create</button>
                    <a href="/view_drives_spc" class="btn btn-secondary">View the company details</a>

                </form>
                <br>

            </div>

        </body>

</html>