<!DOCTYPE html>
<html>
<%- include("./partials/head.ejs") %>
<%- include("./partials/nav_spc.ejs") %>

    <body>

        <div class="container">
            <h1> Placement Cell Dashboard </h1>
            <h2>Welcome SPC <%= user[0].name %>
            </h2>
            
        </div>
    </body>

</html>